<h5>Calendar</h5>
<div id="appointments">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @appointments_by_date[date] %>
      <ul>
        <% @appointments_by_date[date].each do |appointment| %>
          <li><%= link_to appointment.patient.first_name, appointment %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>