<div id="appointment_form">
  <%= simple_form_for (@appointment || Appointment.new),
  url: url do |f| %>
    <%= f.hidden_field :patient_id, value: @patient_id %>
    <%= f.input :start_date %>
    <%= f.hidden_field :doctor_id %>
    <%= f.input :doctor_id, label: "Doctor" do %>
      <%= f.text_field :doctor_name, data: {autocomplete_source: @appointment.appointment_doctors} %>
    <% end %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
